@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-light: linear-gradient(135deg, #916DE6, #E94A99, #F27D1D);
  --gradient-dark: linear-gradient(135deg, #45366E, #2D2050, #3D10BC);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

